* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  background-color: rgb(242, 232, 211);
}
body h1 {
  padding-top: 30px;
  text-align: center;
  color: rgb(89, 63, 6);
}
body .gallery-container {
  padding: 5rem;
}
body .gallery-container .row1 {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  float: left;
  width: 45%;
  border-color: black;
  border-style: double;
}
body .gallery-container .row1 .div_parfume_img {
  width: 33%;
  object-fit: cover;
}
body .gallery-container .row1 .div_parfume_img img {
  width: 355px;
  height: 200px;
}
body .gallery-container .row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 45%;
  border-color: black;
  border-style: double;
  height: 822px;
}
body .gallery-container .row2 .transfer-img {
  width: 35%;
  border-color: rgb(52, 18, 85);
  border-style: double;
  height: 100%;
}
body .gallery-container .row2 .transfer-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chat {
  width: 35%;
  margin: 20px;
  border-color: rgb(52, 18, 85);
  border-style: double;
  height: 100%;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: rgb(52, 18, 85);
  font-style: italic;
  font-size: 20px;
}
.chat .lblmyChat {
  justify-content: left;
  text-align: left;
  padding: 20px;
}
.chat textarea, .chat #myChat {
  width: 90%;
  height: 50px;
}
.chat textarea {
  height: 450px;
}
.chat .lblmyChat, .chat #myChat {
  margin: 10px;
}
.chat .reset, .chat .submit {
  margin: 10px;
  padding: 5px;
  width: 100px;
}
.chat .Description, .chat .reset, .chat .submit, .chat #myChat {
  font-family: "Permanent Marker", cursive;
  color: rgb(52, 18, 85);
  font-style: italic;
  font-size: 16px;
}